<section class="spotify-player">
    <div class="search">
      <div class="form">
        <form ng-submit="$ctrl.search()">
          <input ng-model="$ctrl.song_name">
          <button>Buscar</button>
        </form>
      </div>
    </div>

    <div class="results">
      <div class="song-element" ng-click="$ctrl.play(song)" ng-repeat="song in $ctrl.playlist">
        <a  class="song">
          <i class="material-icons">play_circle_outline</i>
          <span class="title"> {{song.name}}</span>
          <span class="artist"> {{song.artists[0].name}}</span>
          <span> {{$ctrl.milliseconds( song.duration_ms ) }}</span>
        </a>
      </div>
    </div>
    <!--<div class="player" ng-if="$ctrl.playlist">-->
    <div class="player" ng-if="$ctrl.playlist">
      <div class="song-detail">
          <div class="header">
              <div class="imagen">
                <img ng-src="{{$ctrl.song.album.images[2].url}}"/>
              </div>
              <div class="detalles">
                <span class="title">{{$ctrl.song.name}}</span>
                <span>Album: {{$ctrl.song.album.name}}</span>
                <span>Duration: {{$ctrl.milliseconds($ctrl.song.duration_ms) }}</span>
                <span>Popularity: {{$ctrl.song.popularity}}</span>
                <span>{{$ctrl.song.artists[0].name}}</span>
                <a target="_blank" ng-href="{{ $ctrl.song.external_urls.spotify}}">Abrir en Spotify</a>
              </div>
          </div>
      </div>
    </div>
</section>
