$spotify-green: #2ebd59
$grey-material: #212121
$blue-grey-material: #455A64
$light-green: #689F38

*
  margin: 0px
  padding: 0px
  font-family: 'Roboto',"Trebuchet MS", Helvetica

body
  background: #000
  color: #fff

.container
  display: flex
  align-items: center
  justify-content: center
.logo
  display: flex
  justify-content: center
  padding: 1em
  width: 25%
  img
    margin-right: 5px
    height: 30px

.description
  width: 75%
  color: #ccc
  font-size: .8em


section.spotify-player
  display: flex

  .search
    padding: 5px
    width: 25%
    display: flex
    justify-content: center
    form
      width: 100%
      input
        border-radius: 5px
        border: none
        padding: .5em
        text-decoration: none
      button
        background: $spotify-green
        border: none
        color: white
        padding: .5em
        border-radius: 3px
      button:hover
        background: $light-green
        border: none
        font-weight: bold
        color: white
        padding: .5em
        border-radius: 3px

  .results
    .song-element:hover, .song-element:first-child
      //como el primer elemento se reproduce, debe quedar en gris
      background-color: $grey-material
      border-radius: 5px
    width: 50%
    font-size: larger
    display: inline-table
    a
      display: inline-flex
      padding: .5em
      vertical-align: middle
      width: 100%
      i
        margin-right: 5px
      span.title
        margin-left: 2pt
        margin-right: 5pt
        font-weight: bold
      span.artist
        color: #ccc
        margin-left: 2pt
        margin-right: 2pt

  .player
    width: 25%
    margin: 2%
    display: flex
    font-size: larger
    .song-detail
      .header
        text-align: center
        .imagen
          width: 100%
          text-align: center
          img
            width: 60%
            margin-right: 4%
          img:hover
            -webkit-filter: blur(2px)
            filter: blur(2px)
            width: 61%
            margin-right: 4%
        .detalles
          width: 100%
          text-align: center
          span.title
            width: 100%
            display: inline-block
          span
            width: 100%
            display: inline-block
          a
            width: 100%
            display: inline-block
            color: $spotify-green

footer
  position: fixed
  background-color: black
  bottom: 0
  height: 5%
  padding-top: 10px
  padding-bottom: 10px
  text-align: center
  width: 100%
